body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000;  /* Set background to black */
    color: #fff;  /* Set text color to white for readability */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    
    
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: black;
    color: #fff;
    padding: 2rem;
    display: flex;
    
}

.logo img {
    height: auto; 
    width: 50px; /* Maintain aspect ratio */
   
}

.navbar {
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for a sleek look */
    position: fixed;
    top: 0;
    width: 70%;
    z-index: 1000;  
    background-color: #231c1c;
    display:flex;
    justify-content: center;  
    align-items: center;  /* Vertically center the items */
    height: 40px; /* Set a fixed height */
    line-height: 40px; /* Vertically align text */
    text-align: center; /* Centers text content */
    margin: 0 auto; /* Center horizontally */
    left: 0;
    right: 0;
    font-family: 'Orbitron', sans-serif;
    
}

.navbar a {
    font-family: 'Orbitron', sans-serif;;
    font-size: 9px; /* Adjust size as needed */
    color: gray; /* Ensure sufficient contrast against the navbar background */
    text-decoration: none;
}
    

.navbar .nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    

}


.nav-links a {
    color: gray; /* Set color for all nav links */
    text-decoration: none;
    

}

.nav-links a:hover{
    color: red;
}

.nav-links .join-button {
    background-color: red;
    color:#fff;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    

}

.nav-links .join-button:hover {
    background-color: hsl(0, 79%, 39%); 
    color: #fff;
}



.hero {
    text-align: center;
    background: #f4f4f4;
    padding: 2rem 0;
    position: relative;
    z-index: 2; /* Ensure content is on top of the navbar */
}

.hero h2{
    font-size: 3rem; /* Large text */
    font-weight: bolder; 
    text-align: center; /* Center the text */
    color: #e60c0c; /* You can change this color to match the website theme */
    margin-top: 3rem; /* Adjust the margin for spacing */
    letter-spacing: 2px; /* Optional: Add some spacing between letters for better emphasis */
    font-family: 'Orbitron', sans-serif;

}

.hero p{
    font-size: 14px; /* Adjust the font size for readability */
    line-height: 1.8; /* Add line spacing to make the paragraph easier to read */
    text-align: center; /* Center align the paragraph text */
    color: white; /* Set a softer text color (you can adjust this as needed) */
    margin-top: 1.5rem; /* Add top margin for spacing */
    margin-bottom: 1.5rem; /* Add bottom margin for spacing */
    max-width: 800px; /* Limit the paragraph width for readability */
    margin-left: auto; /* Center the paragraph horizontally */
    margin-right: auto; /* Center the paragraph horizontally */
    font-weight: 400; /* Set normal font weight */
    font-family: 'Space Grotesk', sans-serif;
}



.about h2{
    color: red;
    font-family: 'Orbitron', sans-serif;
}

.about h3{
    color:red;
    font-family: 'Orbitron', sans-serif;
}

.about p{
    color:#ccc;
    font-size:14px;
    font-family: 'Space Grotesk', sans-serif;

}

.section-title {
    text-align: center;
   
}


.hero {
    background: url('images/hero.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 4rem 0;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.video-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    width: 70%; /* Set the width to 70% of the container */
    height: auto; /* Maintain the aspect ratio */
    max-width: 100%; /* Optional: Prevents the video from becoming too large */
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out,transform 0.3s ease-in-out; 
}

.video-container video:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
    transform: scale(1.05); /* Slight zoom effect */
}

.mission-title {
    font-size: 2rem; /* Large text */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center the text */
    color: #333; /* You can change this color to match the website theme */
    margin-top: 2rem; /* Adjust the margin for spacing */
    letter-spacing: 2px; /* Optional: Add some spacing between letters for better emphasis */
    text-transform: uppercase; /* Optional: Makes the text all caps for emphasis */
}



.services p {
    font-size: 14px; /* Adjust the font size for readability */
    line-height: 1.8; /* Add line spacing to make the paragraph easier to read */
    text-align: center; /* Center align the paragraph text */
    color: white; 
    margin-top: 1.5rem; /* Add top margin for spacing */
    margin-bottom: 1.5rem; /* Add bottom margin for spacing */
    max-width: 800px; /* Limit the paragraph width for readability */
    margin-left: auto; /* Center the paragraph horizontally */
    margin-right: auto; /* Center the paragraph horizontally */
    font-family: 'Space Grotesk', sans-serif;
    
}

.services {
    padding: 2rem 0;
    background-color: #000; /* Explicitly set black background */
    color: red; 
    font-family: 'Orbitron', sans-serif;

}

.service-cards {
    display: flex;
    justify-content: center; /* Align cards in a single row */
    gap: 0; /* Remove the gap between the cards */
    align-items: center;
}

.card {
    position: relative;
    flex: 1;
    max-width: 18%; /* Ensures that the cards don't stretch too much */
    height: 300px; /* Set the height of the card */
    background: #fff;
    overflow: hidden; /* Ensure content does not spill out of the card */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the full card */
    transition: transform 0.5s ease; /* Smooth zoom effect */
}

.card:hover img {
    transform: scale(1.1); /* Slightly zoom in the image on hover */
}


.card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Add text shadow for better visibility */
}

@media (max-width: 768px) {
    .service-cards {
        flex-wrap: wrap; /* Wrap cards if there isn't enough space */
        justify-content: space-around;
    }

    .card {
        max-width: 45%; /* 2 cards per row on tablets */
        height: 250px;
    }
}

@media (max-width: 480px) {
    .service-cards {
        flex-wrap: wrap; /* Wrap cards if there isn't enough space */
        justify-content: center;
    }

    .card {
        max-width: 80%; /* 1 card per row on mobile */
        height: 200px;
    }
}

.benefits h2{
    font-family: 'Orbitron', sans-serif;
    color: red;
    
}

.benefits-title{
    font-family: 'Orbitron', sans-serif;
    font-size:1.5rem;
    color:red;
    text-align: center;
}

.benefits p{
    font-family: 'Space Grotesk', sans-serif;
    font-size:10px;
    color: white;
    text-align:center;
    
}

.benefits-container {
    grid-template-columns: 1fr auto 1fr; /* Left, Center, Right layout */
  display: flex;
  justify-content: center;
  align-items:center; /* Aligns items at the top */
  gap: 20px;
  padding: 10px;
  }
  
  .left-cards,
  .right-cards {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between cards */
    flex: 1;
  }
  
  .card-content1,
  .card-content2,
  .card-content3,
  .card-content4 {
    flex: 1;
    padding: 10px;
    color: red; 
    font-family: 'Orbitron', sans-serif;
    font-size:10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #231c1c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 350px; /* Optional: To maintain consistent card width */
  }
  

  .card-content1 p,
.card-content2 p,
.card-content3 p,
.card-content4 p {
  font-size: 8px; /* Set the font size */
  font-family:'Space Grotesk', sans-serif; /* Change to your preferred font family */
  line-height: 1.5; /* Optional: Improve readability */
  color: #fff; 
}

.card-content1 button,
.card-content2 button,
.card-content3 button,
.card-content4 button {
  font-size: 10px; /* Text size */
  font-family: 'Space Grotesk', sans-serif; /* Font family */
  padding: 8px; 
  min-height: 30px;
  display: block;
  margin: 10px auto 0;
  color: #fff; /* Button text color */
  background-color: red; /* Button background color */
  border: none; /* Remove border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Shadow for depth */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effect */
}

/* Hover effect */
.card-content1 button:hover,
.card-content2 button:hover,
.card-content3 button:hover,
.card-content4 button:hover {
  background-color: hsl(0, 79%, 39%); /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
}


  .phone-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  .video-container {
    display: grid;
    align-items: center;
    gap: 10px;
   
  }
  
  video {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }


  /* Blog Section Styling */
.blog-section {
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    
 }
  
  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    font-family: 'Orbitron', sans-serif;
    color:red;
  }
  
  /* Blog Post Styling */
  .blog-post {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
    width: 25%; /* Smaller width */
  }
  
  .blog-post img {
    width: 100%;
    height: 200px; /* Adjust the height of the image */
    object-fit: cover;
    transition: transform 0.3s ease; /* Smooth zoom effect */
  }

  /* Zoom-in Effect on Hover */
.blog-post:hover img {
    transform: scale(1.1); /* Zooms in on the image */
  }
  
  /* Content inside the image */
  .blog-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
   
  }
  
  /* Button Styling inside the Image */
  .blog-content button {
    padding: 10px;
    font-size: 10px;
    font-family: 'Space Grotesk', sans-serif;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    transition: background-color 0.3s ease;
  }
  
  .blog-content button:hover {
    background-color:  hsl(0, 79%, 39%);
  }
  
  .blog-content p {
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif;
  }
  
 
  
  /* Responsive Design for Small Screens */
  @media (max-width: 768px) {
    .blog-section {
      flex-direction: column;
      align-items: center;
    }
  
    .blog-post {
      width: 80%; /* Make posts wider on small screens */
      
    }
  
    .blog-post.large {
        width: 100%; /* Large post becomes full width on small screens */
      }
    
      .blog-post.small {
        width: 100%; /* Small posts become full width on small screens */
      }
    }
  

  /* Contact Section Styling */
.contact-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
  }
  
  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  /* FAQ Section Styling */
  .faq-container {
    width: 60%; /* Adjust this value to decrease or increase the width */
    margin: 0 auto; /* Centers the container */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .faq-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  
  .faq-question {
    width: 100%;
    padding: 10px 10px;
    background: white;
    border: none;
    font-size: 12px;
    font-family: 'Space Grotesk', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .faq-question:hover {
    background: gray;
  }
  
  .faq-icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
  }
  
  .faq-answer {
    padding: 10px 10px;
    font-size: 12px;
    font-family: 'Space Grotesk', sans-serif;
    color: #333;
    display: none;
  }
  
  .faq-item.open .faq-answer {
    display: block;
  }
  
  .faq-item.open .faq-icon {
    transform: rotate(45deg); /* Changes '+' to 'x' */
  }


/* Footer Styles */
.footer {
    background-color: black;
    color: #fff;
    padding: 20px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Space out the footer sections */
    flex-direction: column; 
    align-items: center;
    max-width: 1200px;
    gap: 20px;
    text-align: center;
}


.footer-left {
    width: 100%; /* Takes full width */
}

.footer-left h2 {
    font-size: 1em;
    color:red;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 10px;
}

.footer-left p {
    font-size:10px;
    font-family: 'Orbitron', sans-serif;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    text-decoration: none;
    font-size: 10px;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff6b6b; /* Accent color */
}


.footer-social {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    font-size: 12px; /* Adjust the size of the icons */
    color: #fff; /* Set the icon color to white */
    margin: 10px; /* Space out the icons */
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    transform: scale(1.1); /* Zoom in on hover */
    color: #ff6b6b; /* Change icon color on hover */
}

.social-icons i {
    transition: color 0.3s;
}


.footer-bottom {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin-top: 10px;
    font-size: 8px;
    border-top: 1px solid #333;
    padding-top: 10px;
    color: #aaa;
}

.footer-email button {
    font-size: 8px;
    font-family: 'Space Grotesk', sans-serif;
    padding:8px;
    border-radius: 8px;
    background-color: #333;
    color:#fff;
    border:#333
}


